@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
      url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
      url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
      url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #849D8F;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.37;
  color: #ffffff;
}

a {
  color: inherit;
  text-decoration-skip-ink: none;
  text-decoration-color: rgba(255, 255, 255, 0.3);
}

a:hover,
a:active {
  color: #FFBC9E;
  text-decoration-color: rgba(255, 188, 158, 0.3);
}

input {
  display: inline-flex;
  align-items: center;
  min-height: 44px;
  padding: 7px 14px;
  background: #FFFFFF;
  border: 1px solid rgba(178, 178, 178, 0.52);
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 16px;
  line-height: 1.5;
  color: #999999;
}

button {
  border: none;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 44px;
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(85, 8, 0, 0.54);
  border-radius: 26px;
  color: #ffffff;
}

.button:hover {
  color: inherit;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 1px 2px #AC1000;
  cursor: pointer;
}

.button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

.banners {
  display: flex;
  justify-content: space-between;
}


/* Спецпредложения */

.special_offers {
  margin-bottom: 40px;
}

.special_offer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 16px 22px 22px 16px;
  border-radius: 16px;
  background-position: left center;
  width: 560px;
  min-height: 229px;
}

.special_offer--raspberry {
  background-image: url("../img/bg_raspberry.jpg");
}

.special_offer--chocolate {
  background-image: url("../img/bg_chocolate.jpg");
}

.special_offer__title {
  margin: 0;
  padding-bottom: 16px;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.special_offer__description {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.special_offer__button {
  margin-top: auto;
  align-self: flex-end;
}



/* Каталог */

.catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}

.product {
  width: 267px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.product__title {
  order: 2;
  margin: 0;
  padding-top: 9px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.product__image {
  border-radius: 50%;
  order: 0;
}

.product__price {
  align-self: flex-start;
  position: absolute;
  left: 0;
  top: 215px;
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.product__price span {
  font-size: 30px;
  line-height: 35px;
}

.product__button {
  position: absolute;
  left: center;
  bottom: -53px;
  z-index: 11;
  display: none;
}

.product:hover .product__button {
  display: block;
}

.product:hover::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  top: -5px;
  left: -13px;
  right: -13px;
  bottom: -80px;
  /* width: 293px; */
  /* height: 402px; */
  opacity: 0.2;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 10;
}


/* Хиты продаж */

.catalog--bestsellers .product::before {
  content: "";
  position: absolute;
  background-color: #ffffff;
  background-image: url(../img/icon_hit.svg);
  background-repeat: no-repeat;
  background-position: center;
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}


/* О магазине Глейси */

.about-gllacy {
  margin-bottom: 40px;
  padding: 24px 20px;
  background-image: url("../img/bg_waffle-pattern.jpg");
  border-radius: 16px;
}

.about-gllacy__description {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.25;
  color: #323232;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__item {
  position: relative;
  padding: 21px 0 12px 55px;
  color: #323232;
  width: 48%;
}

.advantages__item::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  top: 10px;
  left: 0px;
  width: 49px;
  height: 49px;
  border: 2px solid #323232;
  border-radius: 50%;
}

.advantages__item--ice::before {
  background-image: url(../img/bullet_ice.svg);
}

.advantages__item--cow::before {
  background-image: url(../img/bullet_cow.svg);
}

.advantages__item--leaf::before {
  background-image: url(../img/bullet_leaf.svg);
}

.advantages__item--thermo::before {
  background-image: url(../img/bullet_thermo.svg);
}


/* Новости блога */
/* Рассылка */

.blog-news,
.mailing {
  margin-bottom: 40px;
  width: 560px;
  min-height: 220px;
  border-radius: 16px;
  background-position: left center;
}

.blog-news {
  padding: 23px 20px;
  background-image: url("../img/bg_strawberry.jpg");
}

.mailing {
  padding: 5px 6px;
  background-image: url("../img/bg_post.png");
}

.blog-news__title {
  margin: 0 0 15px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.37;
  color: #323232;
}

.blog-news__link {
  display: inline-block;
  width: 290px;
  padding-bottom: -5px;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.25;
  color: #323232;
  text-decoration-color: #353535;
}

.blog-news__link:hover {
  color: #323232;
  text-decoration-color: #353535;
}

.mailing__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 28px 20px 35px;
  background-color: #F8F7F4;
  border-radius: 16px;
}

.mailing__description {
  flex-grow: 1;
  margin: 0;
  color: #5A5A5A;
}

.mailing__email {
  flex-grow: 1;
  margin-right: 10px;
}

.mailing__button {
  flex-grow: 0;
}
