@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
      url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
      url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
      url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@keyframes bounce {
  0% {
    transform: translateY(-30px);
  }
  70% {
    transform: translateY(3px);
  }
  90% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-50px);
  }
  70% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #849D8F;
  max-width: 1200px;
  margin: 0 auto;
  padding: 9px 27px;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.37;
  color: #ffffff;
}

a {
  color: inherit;
  text-decoration-skip-ink: none;
  text-decoration-color: rgba(255, 255, 255, 0.3);
}

a:hover,
a:active {
  color: #FFBC9E;
  text-decoration-color: rgba(255, 188, 158, 0.3);
}

input {
  display: inline-flex;
  align-items: center;
  min-height: 44px;
  padding: 7px 14px;
  background: #FFFFFF;
  border: 1px solid rgba(178, 178, 178, 0.52);
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 16px;
  line-height: 1.5;
  color: #999999;
}

button {
  border: none;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 44px;
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(85, 8, 0, 0.54);
  border-radius: 26px;
  color: #ffffff;
}

.button:hover {
  color: inherit;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 1px 2px #AC1000;
  cursor: pointer;
}

.button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

.banners {
  display: flex;
  justify-content: space-between;
}


/* Шапка */

.page-header {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.main-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-nav__logo {
  display: block;
  margin-right: 24px;
  width: 154px;
  height: 64px;
  background-image: url("../img/logo-gllacyshop.svg");
}

.main-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-menu__item {
  position: relative;
  margin-right: 6px;
}

.main-menu__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 13px 7px;
  border-radius: 26px;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #FFFFFF;
}

.main-menu__link--active {
  background-color: #D07058;
}

.main-menu__link:hover {
  background-color: #ffffff;
  text-decoration: none;
  color: #323232;
}

.main-menu__link:active {
  background: #EDEDED;
  box-shadow: inset 0px 2px 1px #696969;
}

.main-menu__link:hover + .sub-menu,
.main-menu__link:focus + .sub-menu {
  display: flex;
  animation: slide-down 0.2s;
}

.main-menu__link:hover::before {
  position: absolute;
  content: "";
  width: 140px;
  height: 70px;
  right: -50px;
  top: 0;
  z-index: 5;
}

.sub-menu {
  position: absolute;
  left: -6px;
  top: 36px;
  display: none;
  flex-direction: column;
  white-space: nowrap;
  padding: 0 0 6px 0;
  background: #FFFFFF;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  font-size: 14px;
}

.sub-menu:hover {
  display: flex;
}

.main-menu__link + .sub-menu:hover {
  background-color: #ffffff;
  text-decoration: none;
  color: #323232;
}

.sub-menu__title {
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
  padding: 5px 21px 10px;
  margin: 6px 0 4px;
  font-weight: bold;
  line-height: 18px;
  color: #323232;
}

.sub-menu__link {
  margin: 2px 0;
  padding: 6px 21px;
  line-height: 16px;
  text-decoration: none;
  color: #323232;
}

.sub-menu__link:hover {
  background-color: #FBDED7;
  color: #323232;
}

.sub-menu__link:active {
  background-color: #F6B5A5;
}

.sub-menu__link--active {
  background-color: #D07058;
  color: #ffffff;
}

.user-cabinet {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search {
  position: relative;
  margin-right: 10px;
}

.search__icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/icon-search.svg");
}

.search__icon:hover,
.search__icon:focus {
  background-color: #ffffff;
  background-image: url("../img/icon-search-black.svg");
}

.search__icon:hover::before {
  position: absolute;
  content: "";
  width: 140px;
  height: 50px;
  left: -100px;
  top: 0;
  z-index: 5;
}

.search__icon:hover + .search__form,
.search__icon:focus + .search__form {
  display: flex;
  /* animation: bounce 0.4s; */
}

.search__form {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 36px;
  right: 0;
  width: 341px;
  height: 84px;
  padding: 20px 15px;
  background: #F8F7F4;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.search__form-show {
  display: flex;
}

.search__form:hover,
.search__form:focus {
  display: flex;
}

.search__input {
  padding: 15px;
  width: 100%;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid #D3D3D2;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}

.login {
  position: relative;
  margin-right: 10px;
}

.login__icon {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 32px;
  padding: 6px 16px 6px 45px;
  background-position: 16px 6px;
  background-repeat: no-repeat;
  background-image: url("../img/icon-login.svg");
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.login__icon:hover,
.login__icon:focus {
  background-color: #ffffff;
  background-image: url("../img/icon-login-black.svg");
  color: #323232;
}

.login__icon:hover + .login__form,
.login__icon:focus + .login__form {
  display: grid;
  /* animation: bounce 0.4s; */
}

.login__icon:hover::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 50px;
  left: -10px;
  top: 0;
  z-index: 5;
}

.login__form {
  position: absolute;
  display: none;
  row-gap: 20px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 44px 44px 44px;
  top: 36px;
  right: 0;
  width: 277px;
  height: 214px;
  padding: 20px 17px 22px 19px;
  background-color: #F8F7F4;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  z-index: 3;
}

.login__form:hover,
.login__form:focus {
  display: grid;
}

.login__input {
  grid-column: 1 / -1;
  padding: 15px;
  width: 100%;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid #D3D3D2;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}

.login__button {
  margin-right: 20px;
}

.login__registration {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 0px;
  font-size: 13px;
  line-height: 15px;
  color: #323232;
}

.login__registration a {
  text-decoration-color: rgba(50, 50, 50, 0.3);
}


.basket {
  position: relative;
}

.basket__icon {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 32px;
  padding: 6px 16px 6px 45px;
  background-position: 16px 6px;
  background-repeat: no-repeat;
  background-image: url("../img/icon-basket.svg");
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.basket__icon:hover,
.basket__icon:focus,
.basket__icon--not-empty,
.basket__icon--not-empty:hover {
  background-color: #ffffff;
  background-image: url("../img/icon-basket-black.svg");
  color: #323232;
}

.basket__icon--not-empty,
.basket__icon--not-empty:hover {
  background-image: url("../img/icon-basket-red.svg");
}

.basket__icon--not-empty:hover + .basket__goods,
.basket__icon--not-empty:focus + .basket__goods {
  display: flex;
  /* animation: bounce 0.4s; */
}

 .basket__icon--not-empty:hover::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 50px;
  left: -10px;
  top: 0;
  z-index: 5;
}

.basket__goods:hover,
.basket__goods:focus {
  display: flex;
}

.basket__goods {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  width: 539px;
  top: 36px;
  right: 0;
  padding: 20px 15px;
  background-color: #F8F7F4;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  z-index: 3;
}

.basket-list {
  padding-bottom: 4px;
  font-size: 13px;
  line-height: 16px;
  border-bottom: 1px solid #CACAC7;
  color: #323232;
}

.basket-item {
  display: grid;
  row-gap: 20px;
  grid-template-columns: 26px 46px auto 120px 70px;
  grid-template-rows: 53px;
  line-height: 16px;
}

.basket-item__delete,
.basket-item__title,
.basket-item__amount,
.basket-item__price {
  margin: 10px 0;
}

.basket-item__delete {
  width: 11px;
  height: 11px;
  margin-left: 6px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/icon-delete.svg");
}

.basket-item__image {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.basket-item__amount {
  color: #000000;
}

.basket-item__cost {
  color: #C4C4C4;;
}

.basket__total-price {
  padding: 18px 0;
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  line-height: 16px;
  color: #323232;
}




.timetable {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  right: 0;
  top: 65px;
  z-index: 2;
}

.timetable__time {
  margin: 0;
  padding-bottom: 8px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.timetable__phone,
.timetable__phone:hover {
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
}



/* Слайдер с мороженым */

.index-body {
  background-repeat: no-repeat;
  background-position: top center;
}

.index-body--1 {
  background-color: #849D8F;
  background-image: url("../img/ice-slide-1.png");
}

.index-body--2 {
  background-color: #8996A6;
  background-image: url("../img/ice-slide-2.png");
}

.index-body--3 {
  background-color: #9D8B84;
  background-image: url("../img/ice-slide-2.png");
}

.ice-slider {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 534px;
  margin-bottom: 40px;
}

.ice-slider__item {
  width: 716px;
}

.ice-slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.ice-slide--1 {
  display: flex;
}

.ice-slide--2 {
  display: none;
}

.ice-slide--3 {
  display: none;
}

.ice-slide__title {
  margin: 0 0 27px 0;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
}

.ice-slide__button {
  padding: 9px 40px 10px;
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #FFFFFF;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}



/* Спецпредложения */

.special_offers {
  margin-bottom: 40px;
  z-index: 5;
}

.special_offer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 16px 22px 22px 16px;
  border-radius: 16px;
  background-position: left center;
  width: 560px;
  min-height: 229px;
}

.special_offer--raspberry {
  background-image: url("../img/bg-raspberry.jpg");
}

.special_offer--chocolate {
  background-image: url("../img/bg-chocolate.jpg");
}

.special_offer__title {
  margin: 0;
  padding-bottom: 16px;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.special_offer__description {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.special_offer__button {
  margin-top: auto;
  align-self: flex-end;
}



/* Каталог */

.catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}

.product {
  width: 267px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.product__title {
  order: 2;
  margin: 0;
  padding-top: 9px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  z-index: 11;
}

.product__image {
  border-radius: 50%;
  order: 0;
}

.product__price {
  align-self: flex-start;
  position: absolute;
  left: 0;
  top: 215px;
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.product__price span {
  font-size: 30px;
  line-height: 35px;
}

.product__button {
  position: absolute;
  left: center;
  bottom: -53px;
  z-index: 11;
  display: none;
}

.product:hover .product__button {
  display: block;
}

.product:hover::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  top: -5px;
  left: -13px;
  right: -13px;
  bottom: -80px;
  /* width: 293px; */
  /* height: 402px; */
  opacity: 0.2;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 10;
}


/* Хиты продаж */

.catalog--bestsellers .product::before {
  content: "";
  position: absolute;
  background-color: #ffffff;
  background-image: url(../img/icon-hit.svg);
  background-repeat: no-repeat;
  background-position: center;
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}


/* О магазине Глейси */

.about-gllacy {
  margin-bottom: 40px;
  padding: 24px 20px;
  background-image: url("../img/bg-waffle-pattern.jpg");
  border-radius: 16px;
}

.about-gllacy__description {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.25;
  color: #323232;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__item {
  position: relative;
  padding: 21px 0 12px 55px;
  color: #323232;
  width: 48%;
}

.advantages__item::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  top: 10px;
  left: 0px;
  width: 49px;
  height: 49px;
  border: 2px solid #323232;
  border-radius: 50%;
}

.advantages__item--ice::before {
  background-image: url(../img/bullet_ice.svg);
}

.advantages__item--cow::before {
  background-image: url(../img/bullet_cow.svg);
}

.advantages__item--leaf::before {
  background-image: url(../img/bullet_leaf.svg);
}

.advantages__item--thermo::before {
  background-image: url(../img/bullet_thermo.svg);
}


/* Новости блога */
/* Рассылка */

.blog-news,
.mailing {
  margin-bottom: 40px;
  width: 560px;
  min-height: 220px;
  border-radius: 16px;
  background-position: left center;
}

.blog-news {
  padding: 23px 20px;
  background-image: url("../img/bg-strawberry.jpg");
}

.mailing {
  padding: 5px 6px;
  background-image: url("../img/bg-post.png");
}

.blog-news__title {
  margin: 0 0 15px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.37;
  color: #323232;
}

.blog-news__link {
  display: inline-block;
  width: 290px;
  padding-bottom: -5px;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.25;
  color: #323232;
  text-decoration-color: #353535;
}

.blog-news__link:hover {
  color: #323232;
  text-decoration-color: #353535;
}

.mailing__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 28px 20px 35px;
  background-color: #F8F7F4;
  border-radius: 16px;
}

.mailing__description {
  flex-grow: 1;
  margin: 0;
  color: #5A5A5A;
}

.mailing__email {
  flex-grow: 1;
  margin-right: 10px;
}

.mailing__button {
  flex-grow: 0;
}



/* Футер */

/* Соцсети */

.page-footer {
  padding: 18px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.social {
  display: flex;
  width: 30%;
}

.social__icon {
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-position: center;
  background-clip: padding-box;
  opacity: 0.8;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social__icon:hover {
  opacity: 1;
}

.social__icon:active {
  border: 2px solid rgba(255, 255, 255, 0.7);
}

.social__icon--tw {
  background-image: url("../img/icon-tw.svg");
}

.social__icon--insta {
  background-image: url("../img/icon-insta.svg");
}

.social__icon--fb {
  background-image: url("../img/icon-fb.svg");
}

.social__icon--vk {
  background-image: url("../img/icon-vk.svg");
}



/* Нижнее меню */

.bottom-menu {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 15px;
}

.bottom-menu__item {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 10px 5px 22px;
  font-size: 13px;
  line-height: 1.38;
}

.bottom-menu__item::before {
  position: absolute;
  content: "";
  left: -22px;
  width: 15px;
  height: 13px;
}

.bottom-menu__item--like {
  font-weight: bold;
}

.bottom-menu__item--like::before {
  background-image: url("../img/icon-heart.svg");
}

/* HTML Academy */

.html-academy {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 200px;
}

.html-academy__logo {
  width: 108px;
  height: 39px;
  background-image: url("../img/logo-html-academy.svg");
}

.html-academy__copyright {
  margin: 5px 0 0 0;
  font-size: 12px;
  line-height: 1.5;
}
